.idea
.vscode
*.pyc
*.npz
.DS_Store
*.egg-info
.pytest_cache/*
build/
dist/
tmp_weights/
tmp_weights_DELETE/
store/
unittest_prediction

*.tfstate
*.tfstate.backup
*.plan
.terraform/
*.pem
segmentations/
segmentations_fast/
trg_seg/
Task251_TotalSegmentator_part1_organs_1139subj/
Totalsegmentator_dataset.zip/
Task251_TotalSegmentator_part1_organs_1139subj.zip/
tests/